<mat-drawer-container class="main-container" autosize>
  <!-- Sidenav drawer -->
  <mat-drawer #drawer class="main-sidenav" mode="side"></mat-drawer>

  <div class="main-content">
    <!-- Sidenav toggle -->
    <div class="main-header">
      <button
        mat-fab
        color="primary"
        class="toggle-sidenav-button"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="main-title">{{ title }}</h1>
    </div>
    <!-- Main content -->
    <div class="router-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
