h1 {
  margin: 0 var(--spacing-small);
}

.main-container {
  height: 100%;
  width: 100%;
}

.main-header {
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px var(--color-accent);
  padding: 0 var(--spacing-default);
}

.main-sidenav {
  min-width: 200px;
}

.router-wrapper {
  height: calc(100vh - 61px);
  overflow: auto;
}

.mat-fab {
  width: 45px;
  height: 45px;
}
