<div class="row-container">
  <div class="search-form">
    <mat-card>
      <h2>Search form</h2>

      <div class="form-wrapper">
        <mat-form-field class="name-input" appearance="standard">
          <mat-label>Summoner name</mat-label>
          <input matInput [(ngModel)]="filter.name" />
        </mat-form-field>
        <button
          mat-mini-fab
          color="primary"
          class="toggle-sidenav-button"
          (click)="search()"
        >
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>

  <div class="result-content">
    <mat-card>
      <h2>Summoner Profile</h2>
      <h2 *ngIf="rawSummonerData">{{ rawSummonerData?.name }}</h2>
      <img
        class="summoner-icon"
        *ngIf="profileIcon"
        [src]="
          'http://ddragon.leagueoflegends.com/cdn/12.11.1/img/profileicon/' +
          profileIcon +
          '.png'
        "
      />
      <pre class="json-data" *ngIf="responseSummonerData">
 {{ responseSummonerData }}</pre
      >
    </mat-card>
    <mat-card>
      <h2>Recent match IDs</h2>
      <pre class="json-data" *ngIf="responseMatchData">
    {{ responseMatchData }}</pre
      >
    </mat-card>
  </div>
</div>
