<div class="row-container">
  <app-player-search-form class="search-form"></app-player-search-form>

  <div class="result-content">
    <mat-card>
      <h2>Summoner Profile</h2>
      <h2 *ngIf="playerData">{{ playerData?.name }}</h2>
      <img
        class="summoner-icon"
        *ngIf="profileIcon"
        [src]="
          'http://ddragon.leagueoflegends.com/cdn/12.11.1/img/profileicon/' +
          profileIcon +
          '.png'
        "
      />
      <pre class="json-data" *ngIf="rawPlayerData"> {{ rawPlayerData }}</pre>
    </mat-card>
    <mat-card>
      <h2>Recent match IDs</h2>
      <pre class="json-data" *ngIf="rawMatchData">    {{ rawMatchData }}</pre>
    </mat-card>
  </div>
</div>
