h2 {
  color: var(--color-accent);
}

.form-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: calc(2 * var(--spacing-default));
}

.name-input {
  font-size: var(--font-size-default);
}

.mat-mini-fab {
  width: 45px;
  height: 45px;
}
