/* You can add global styles to this file, and also import other style files */

:root {
  --spacing-small: 0.6rem;
  --spacing-default: 1rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* .mat-typography h2,
.mat-typography h1,
.mat-typography p,
.mat-form-field {
  font-family: "Times New Roman", Times, serif;
} */
